@import url('https://fonts.googleapis.com/css2?family=Darker+Grotesque:wght@500&family=Fredericka+the+Great&family=Inconsolata&display=swap');
/* @import url('https://fonts.googleapis.com/css2?family=Caveat&display=swap'); */
body {
    background-color: #e5e5e5;
    /* background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='80' height='80' viewBox='0 0 80 80'%3E%3Cg fill='%234f0303' fill-opacity='0.14'%3E%3Cpath fill-rule='evenodd' d='M11 0l5 20H6l5-20zm42 31a3 3 0 1 0 0-6 3 3 0 0 0 0 6zM0 72h40v4H0v-4zm0-8h31v4H0v-4zm20-16h20v4H20v-4zM0 56h40v4H0v-4zm63-25a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm10 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zM53 41a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm10 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm10 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-30 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-28-8a5 5 0 0 0-10 0h10zm10 0a5 5 0 0 1-10 0h10zM56 5a5 5 0 0 0-10 0h10zm10 0a5 5 0 0 1-10 0h10zm-3 46a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm10 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zM21 0l5 20H16l5-20zm43 64v-4h-4v4h-4v4h4v4h4v-4h4v-4h-4zM36 13h4v4h-4v-4zm4 4h4v4h-4v-4zm-4 4h4v4h-4v-4zm8-8h4v4h-4v-4z'/%3E%3C/g%3E%3C/svg%3E"); */
    /* background-image: url('./images/Erika.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: bottom left; */
    font-family: 'Fredericka the Great', cursive;
    font-size: 1.5rem;
    text-align: center;
    position: relative;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;

}

h1 {
    margin: 0 auto;
    font-size: 4rem;
    font-weight: 400;
}

p, h2, li {
    font-family: 'Inconsolata', monospace;
}

p {
    font-size: 1.5rem;
    padding: 15px 15px;
}

li {
    list-style: none;
    display: inline;
    font-size: 1.5rem;
}

ul {
    padding: 0;
}

a, .repository {
    background-color: white;
    box-shadow: 0 5px 0 rgb(172, 162, 155);
    color: rgb(78, 69, 62);
    text-decoration: none;
    padding: 3px 10px 3px 10px;
    position: relative;
    font-size: 2rem;
}

a:hover {
    background-color: rgb(245, 241, 237);
}

.preview, .preview2, .preview3 {
    max-width: 50%;
    height: auto;
    margin: 10px;
    box-shadow: 0 5px 10px rgb(172, 162, 155);
}

.preview2 {
    /* max-height: 50%; */
    max-width: 50%;
}

.preview3 {
    max-width: 50%;
}

.repository, .deployed {
    background-color: rgb(230, 190, 15);
    box-shadow: none;
    border: none;
    font-family: 'Inconsolata', monospace;
    font-size: 1.2rem;
    font-weight: bold;
    transition: all 0.5s ease-in-out;
}

.repository:hover, .deployed:hover {
    background-color: rgb(255, 224, 83);
}

.techUsed {
    font-size: 1rem;
    margin: 0 auto;
    padding: 0;
}

h4 {
    font-family: 'Inconsolata', monospace;
    color:rgb(214, 125, 9);
    margin: 0 auto;
    margin-top: 20px;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.twitter {
    transition: all 0.5s ease-in-out;
    box-shadow: 0 5px 0 rgb(184, 12, 12);
}

.twitter:hover {
    color: rgb(184, 12, 12);
}

.email {
    transition: all 0.5s ease-in-out;
    box-shadow: 0 5px 0 rgb(184, 12, 12);
}

.email:hover {
    color: rgb(184, 12, 12);
}

.linkedin {
    transition: all 0.5s ease-in-out;
    box-shadow: 0 5px 0 rgb(214, 125, 9);
}

.linkedin:hover {
    color: rgb(214, 125, 9);
}

.github {
    transition: all 0.5s ease-in-out;
    box-shadow: 0 5px 0 rgb(184, 12, 12);
}

.github:hover {
    color: rgb(184, 12, 12);
}

.twitch {
    transition: all 0.5s ease-in-out;
    box-shadow: 0 5px 0 rgb(214, 125, 9);
}

.twitch:hover {
    color: rgb(214, 125, 9);
}

.website {
    transition: all 0.5s ease-in-out;
    box-shadow: 0 5px 0 rgb(230, 190, 15);
}

.website:hover {
    color: rgb(230, 190, 15);
}

.artstation {
    transition: all 0.5s ease-in-out;
    box-shadow: 0 5px 0 rgb(230, 190, 15);
}

.artstation:hover {
    color: rgb(230, 190, 15);
}

.resume {
    transition: all 0.5s ease-in-out;
    box-shadow: 0 5px 0 rgb(214, 125, 9);
}

.resume:hover {
    color: rgb(214, 125, 9);
}

.container {
    margin: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.name-contact {
    margin: 0 20px 0 20px;
    width: 35rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.titles { 
    margin: 0 auto;
}

.title1, .title2, .title3 {
    font-size: 2rem;
    text-shadow: 1px 1px rgb(78, 69, 62);
}

.title1 {
    color: rgb(184, 12, 12);
}

.title2 {
    color: rgb(214, 125, 9);
}

.title3 {
    color: rgb(230, 190, 15);
}

.info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 95vh;
    overflow-y: scroll;
}

.info::-webkit-scrollbar {
    width: 5px;
}

.info::-webkit-scrollbar-thumb {
    background-color:rgb(214, 125, 9);
}

.aboutMe, .projects {
    background-color: white;
    /* height: 500px; */
    width: 600px;
    margin: 8px 5px 8px 5px;
    box-shadow: 0 5px 10px rgb(172, 162, 155);
}

.aboutMe {
    /* background-image: url('./images/Erika.png');
    background-repeat: no-repeat; */
    font-size: 5rem;
    text-align: left;
    text-indent: 60px;
}

.projects {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.attribute1, .attribute2, .attribute3 {
    font-weight: 600;
}

.attribute1 {
    color: rgb(184, 12, 12);
}

.attribute2 {
    color: rgb(214, 125, 9);
}

.attribute3 {
    color: rgb(230, 190, 15);
}

.name, .contact {
    color: rgb(78, 69, 62);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.name {
    padding: 10px;
    margin: 10px;
}

.contact {
    margin: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

/*TOOLTIPS*/

[data-tooltip] {
    position: relative;
    z-index: 10;
}

/* Positioning and visibility settings of the tooltip */

[data-tooltip]:before, [data-tooltip]:after {
    position: absolute;
    visibility: hidden;
    opacity: 0;
    left: 50%;
    bottom: calc(100% + 5px);
    /* 5px is the size of the arrow */
    pointer-events: none;
    transition: 0.2s;
    will-change: transform;
}

/* The actual tooltip with a dynamic width */

[data-tooltip]:before {
    content: attr(data-tooltip);
    padding: 10px 18px;
    min-width: 50px;
    max-width: 300px;
    width: max-content;
    width: -moz-max-content;
    border-radius: 6px;
    font-size: 1rem;
    background-color: rgba(78, 69, 62, 0.9);
    background-image: linear-gradient(30deg, rgba(59, 72, 80, 0.44), rgba(59, 68, 75, 0.44), rgba(60, 82, 88, 0.44));
    box-shadow: 0px 0px 24px rgba(0, 0, 0, 0.2);
    color: #fff;
    text-align: center;
    white-space: pre-wrap;
    transform: translate(-50%, -5px) scale(0.5);
}

/* Tooltip arrow */

[data-tooltip]:after {
    content: '';
    border-style: solid;
    border-width: 5px 5px 0px 5px;
    /* CSS triangle */
    border-color: rgba(55, 64, 70, 0.9) transparent transparent transparent;
    transition-duration: 0s;
    /* If the mouse leaves the element, 
                                the transition effects for the 
                                tooltip arrow are "turned off" */
    transform-origin: top;
    /* Orientation setting for the
                                slide-down effect */
    transform: translateX(-50%) scaleY(0);
}

/* Tooltip becomes visible at hover */

[data-tooltip]:hover:before, [data-tooltip]:hover:after {
    visibility: visible;
    opacity: 1;
}

/* Scales from 0.5 to 1 -> grow effect */

[data-tooltip]:hover:before {
    transition-delay: 0.3s;
    transform: translate(-50%, -5px) scale(1);
}

/* 
    Arrow slide down effect only on mouseenter (NOT on mouseleave)
  */

[data-tooltip]:hover:after {
    transition-delay: 0.5s;
    /* Starting after the grow effect */
    transition-duration: 0.2s;
    transform: translateX(-50%) scaleY(1);
}


@media screen and (max-device-width: 430px) {
    .container { 
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .name-contact {
        width: 100vw;
    }

    .info {
        height: unset;
    }

    li {
        font-size: 2rem;
    }

    a {
        font-size: 5rem;
    }
}

@media screen and (max-width: 800px) {
    .container {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .info {
        height: unset;
    }

}