@import url('https://fonts.googleapis.com/css2?family=Darker+Grotesque:wght@500&family=Fredericka+the+Great&display=swap');
body {
    background-color: #e5e5e5;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='80' height='80' viewBox='0 0 80 80'%3E%3Cg fill='%234f0303' fill-opacity='0.14'%3E%3Cpath fill-rule='evenodd' d='M11 0l5 20H6l5-20zm42 31a3 3 0 1 0 0-6 3 3 0 0 0 0 6zM0 72h40v4H0v-4zm0-8h31v4H0v-4zm20-16h20v4H20v-4zM0 56h40v4H0v-4zm63-25a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm10 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zM53 41a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm10 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm10 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-30 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-28-8a5 5 0 0 0-10 0h10zm10 0a5 5 0 0 1-10 0h10zM56 5a5 5 0 0 0-10 0h10zm10 0a5 5 0 0 1-10 0h10zm-3 46a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm10 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zM21 0l5 20H16l5-20zm43 64v-4h-4v4h-4v4h4v4h4v-4h4v-4h-4zM36 13h4v4h-4v-4zm4 4h4v4h-4v-4zm-4 4h4v4h-4v-4zm8-8h4v4h-4v-4z'/%3E%3C/g%3E%3C/svg%3E");
    background-attachment: fixed;
    font-family: 'Fredericka the Great', cursive;
    font-size: 25px;
    text-align: center;
    position: relative;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    padding: 41px 0 0 0;
    margin: 0 auto;
    font-size: 2.5em;
    font-weight: 400;
}

p, h2, li {
    font-family: 'Darker Grotesque', sans-serif;
}

p {
    font-size: 0.8em;
    padding: 0 25px 0 25px;
}

li {
    list-style: none;
    display: inline;
    font-size: 22px;
}

ul {
    padding: 0;
}

a {
    background-color: white;
    box-shadow: 0 5px 0 rgb(172, 162, 155);
    color: rgb(78, 69, 62);
    text-decoration: none;
    padding: 3px 10px 3px 10px;
    position: relative;
    font-size: 1.5em;
}

a:hover {
    background-color: rgb(245, 241, 237);
}

a:active {
    box-shadow: none;
    top: 5px;
}

.twitter {
    transition: all 0.5s ease-in-out;
    box-shadow: 0 5px 0 rgb(184, 12, 12);
}

.twitter:hover {
    color: rgb(184, 12, 12);
}

.email {
    transition: all 0.5s ease-in-out;
    box-shadow: 0 5px 0 rgb(184, 12, 12);
}

.email:hover {
    color: rgb(184, 12, 12);
}

.linkedin {
    transition: all 0.5s ease-in-out;
    box-shadow: 0 5px 0 rgb(214, 125, 9);
}

.linkedin:hover {
    color: rgb(214, 125, 9);
}

.github {
    transition: all 0.5s ease-in-out;
    box-shadow: 0 5px 0 rgb(184, 12, 12);
}

.github:hover {
    color: rgb(184, 12, 12);
}

.twitch {
    transition: all 0.5s ease-in-out;
    box-shadow: 0 5px 0 rgb(214, 125, 9);
}

.twitch:hover {
    color: rgb(214, 125, 9);
}

.website {
    transition: all 0.5s ease-in-out;
    box-shadow: 0 5px 0 rgb(230, 190, 15);
}

.website:hover {
    color: rgb(230, 190, 15);
}

.artstation {
    transition: all 0.5s ease-in-out;
    box-shadow: 0 5px 0 rgb(230, 190, 15);
}

.artstation:hover {
    color: rgb(230, 190, 15);
}

.resume {
    transition: all 0.5s ease-in-out;
    box-shadow: 0 5px 0 rgb(214, 125, 9);
}

.resume:hover {
    color: rgb(214, 125, 9);
}

.container {
    margin: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.title1, .title2, .title3 {
    font-size: 1.25em;
}

.title1 {
    color: rgb(184, 12, 12);
}

.title2 {
    color: rgb(214, 125, 9);
}

.title3 {
    color: rgb(230, 190, 15);
}

.title1, .title2, .title3 {
    text-shadow: 1px 1px rgb(78, 69, 62)
}

.info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.aboutMe, .scroll-container {
    background-color: white;
    height: 500px;
    width: 500px;
    margin: 8px 5px 8px 5px;
    box-shadow: 0 5px 10px rgb(172, 162, 155);
}

.aboutMe {
    font-size: 37px;
    text-align: left;
    text-indent: 60px;
    overflow: scroll;
    overflow-x: hidden;
}

.aboutMe::-webkit-scrollbar {
    width: 5px;
}

.aboutMe::-webkit-scrollbar-thumb {
    background-color: rgb(214, 125, 9);
}

.scroll-container {
    display: flex;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
}

.scroll-container::-webkit-scrollbar {
    height: 5px;
}

.scroll-container::-webkit-scrollbar-thumb {
    background-color: rgb(230, 190, 15);
}

section {
    height: 100%;
    flex: 0 0 100%;
    scroll-snap-align: center;
}

.attribute1, .attribute2, .attribute3 {
    font-weight: 600;
}

.attribute1 {
    color: rgb(184, 12, 12);
}

.attribute2 {
    color: rgb(214, 125, 9);
}

.attribute3 {
    color: rgb(230, 190, 15);
}

.name, .contact {
    color: rgb(78, 69, 62);
}

.name {
    line-height: 15px;
    padding: 10px;
    margin: 10px;
}

.contact {
    font-size: 15px;
    margin: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

/*TOOLTIPS*/

[data-tooltip] {
    position: relative;
    z-index: 10;
}

/* Positioning and visibility settings of the tooltip */

[data-tooltip]:before, [data-tooltip]:after {
    position: absolute;
    visibility: hidden;
    opacity: 0;
    left: 50%;
    bottom: calc(100% + 5px);
    /* 5px is the size of the arrow */
    pointer-events: none;
    transition: 0.2s;
    will-change: transform;
}

/* The actual tooltip with a dynamic width */

[data-tooltip]:before {
    content: attr(data-tooltip);
    padding: 10px 18px;
    min-width: 50px;
    max-width: 300px;
    width: max-content;
    width: -moz-max-content;
    border-radius: 6px;
    font-size: 14px;
    background-color: rgba(59, 72, 80, 0.9);
    background-image: linear-gradient(30deg, rgba(59, 72, 80, 0.44), rgba(59, 68, 75, 0.44), rgba(60, 82, 88, 0.44));
    box-shadow: 0px 0px 24px rgba(0, 0, 0, 0.2);
    color: #fff;
    text-align: center;
    white-space: pre-wrap;
    transform: translate(-50%, -5px) scale(0.5);
}

/* Tooltip arrow */

[data-tooltip]:after {
    content: '';
    border-style: solid;
    border-width: 5px 5px 0px 5px;
    /* CSS triangle */
    border-color: rgba(55, 64, 70, 0.9) transparent transparent transparent;
    transition-duration: 0s;
    /* If the mouse leaves the element, 
                                the transition effects for the 
                                tooltip arrow are "turned off" */
    transform-origin: top;
    /* Orientation setting for the
                                slide-down effect */
    transform: translateX(-50%) scaleY(0);
}

/* Tooltip becomes visible at hover */

[data-tooltip]:hover:before, [data-tooltip]:hover:after {
    visibility: visible;
    opacity: 1;
}

/* Scales from 0.5 to 1 -> grow effect */

[data-tooltip]:hover:before {
    transition-delay: 0.3s;
    transform: translate(-50%, -5px) scale(1);
}

/* 
    Arrow slide down effect only on mouseenter (NOT on mouseleave)
  */

[data-tooltip]:hover:after {
    transition-delay: 0.5s;
    /* Starting after the grow effect */
    transition-duration: 0.2s;
    transform: translateX(-50%) scaleY(1);
}

@media screen and (max-device-width: 430px) {
    .aboutMe .scroll-container {
        width: 350px;
        height: 350px;
    }
    .container {
        position: relative;
        margin: 0 auto;
        width: 140vw;
    }
    .info {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

@media screen and (max-width: 780px) {
    .info {
        flex-direction: column;
        align-items: center;
    }
}